{# {% extends "base.jinja" %}

{% block content %}
<h1>Out by the ocean, you find...</h1>
<img src="{{ pokemon['sprites']['front_default'] }}" alt="{{ pokemon['name'] }}">
<h2>Name: {{ pokemon['name'] }}</h2>
{% endblock content %} #}